a {
	text-decoration: none;
	color: dodgerblue;
}
a:hover {
	text-decoration: underline;
	color: dodgerblue;
}
a.selected {
	text-decoration: underline !important;
}

.car_add {
	width: 100%;
	border: 0;
}
